<h1>Hello World!</h1>
<app-book-form (bookEmitter) = 'bookListener($event)'></app-book-form>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Year</th>
      <th>Author</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr (click) = 'onSelect(book)' *ngFor='let book of books' [class.selected]='selectedBook === book' >
      <td>{{book.id}}</td>
      <td>{{book.title | titleize:['of', 'a']}}</td>
      <td>{{book.year}}</td>
      <td>{{book.author}}</td>
      <td (click) = 'onTdClick($event)'>
        <button (click) = 'removeBook(book)' class="btn btn-danger btn-sm">Remove</button>
      </td>
    </tr>
  </tbody>
</table>
<book-details (updatedBook)='updateSelectedBook($event)' [book]='selectedBook'></book-details>
