<h1>Hello World!</h1>

<fieldset>
  <legend>Add a Book</legend>
  <form (submit)='onSubmit($event)' #newBook='ngForm'>
    <div class="form-group">
      <label for="title">Title:</label>
      <input id='title' type="text" class="form-control" name='title' [(ngModel)]='book.title' #title='ngModel' minlength='4' required>
      <div *ngIf='(title.touched || title.dirty) && title.errors'>
        <div *ngIf='title.errors.required' class='alert alert-danger'>You must enter a book title</div>
        <div *ngIf='title.errors.minlength' class='alert alert-danger'>Title must be at least {{title.errors.minlength.requiredLength}} characters in length.  You only have {{title.errors.minlength.actualLength}}</div>
      </div>

    </div>
    <div class="form-group">
      <label for="author">Author:</label>
      <input id='author' type="text" name='author' [(ngModel)]='book.author' #author='ngModel' class="form-control" required>
    </div>
    <div class="form-group">
      <label for="year">Year:</label>
      <input id="year" type="number" name='year' [(ngModel)]='book.year' #year='ngModel' class="form-control" required>
    </div>
    <div class="form-group">
      <label for="pages">Pages:</label>
      <input id='pages' type="number" name='pages' [(ngModel)]='book.pages' #pages='ngModel' class="form-control" required>
    </div>
    <div class="form-group">
      <label for="publisher">Publisher:</label>
      <input id='publisher' type="text" name='publisher' [(ngModel)]='book.publisher' #publisher='ngModel' class="form-control" minlength='3' required>
      <div *ngIf='(publisher.touched || publisher.dirty) && publisher.errors'>
        <div *ngIf='publisher.errors.required' class='alert alert-danger'>You must enter a book publisher</div>
        <div *ngIf='publisher.errors.minlength' class='alert alert-danger'>publisher must be at least {{publisher.errors.minlength.requiredLength}} characters in length.  You only have {{publisher.errors.minlength.actualLength}}</div>
      </div>
    </div>

    {{ newBook.invalid }}
    <button [disabled]='newBook.invalid' [hidden]='newBook.invalid'>Submit</button>
  </form>
</fieldset>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Year</th>
      <th>Author</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor='let book of books'>
      <td>{{book.id}}</td>
      <td>{{book.title}}</td>
      <td>{{book.year}}</td>
      <td>{{book.author}}</td>
      <td></td>
    </tr>
  </tbody>
</table>
