.ng-invalid:not(form).ng-touched, .ng-invalid:not(form).ng-dirty {
  border: 2px solid #a94442;
  background-color: rgb(250, 255, 189);
}
.ng-valid:not(form) {
  border: 2px solid #42A948;
}

input.ng-invalid.ng-touched:focus {
  border: 2px solid orange;
}
.selected{
  background-color: blue !important;
  color: white;
}
