<article *ngIf='book'>
  <fieldset>
    <legend>Selected Book</legend>
    <div><label for="">ID</label><input type="number" value="{{book.id}}"></div>
    <div><label for="">Title</label><input type="text" [ngModel]='book.title'></div>
    <div><label for="">Author</label><input [(ngModel)]='book.author' type="text"></div>
    <div><label for="">Year</label><input type="number"></div>
    <div><label for="">Page Count</label><input type="number"></div>
    <div><label for="">Publisher</label><input [value]='book.publisher' type="text"></div>
  </fieldset>
</article>
