<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Author</title>
</head>
<body>
  <h1><%= author.name %></h1>

  <ul>
    <% for (const book of author.books) { %>
      <li><a href="<%= book._id %>"><%= book.title %></a></li>
    <% } %>
  </ul>
</body>
</html>
